.navbar {
  display: flex;
  background-color: black;
  height: 74px;
  align-items: center;
  justify-content: space-between;
}

.nav-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 74px;
}

.navlinks {
  display: flex;
  list-style: none;
}

.navlinks > li {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  cursor: pointer;
}

.navlinks > li > a {
    text-decoration: inherit;
    color: inherit;
}

.menu {
  display: none;
}

.menu > img {
  padding-left: 15px;
  height: 30px;
  filter: invert(1);
}

.fire-icon {
  height: 48px;
  width: 48px;
}

.profile-icon {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }
  .hide {
    display: none;
  }
}
